<div class="main-content col flex-fill" style="background-image: url(<%= image_url "dashboard.jpg" %>);">
</div>
<div class="main-sidebar col flex-fill">
  <div class="main-sidebar-scroller">
    <%= render "shared/branding"%>
    <% @collections.each do |collection| %>
      <div class="listing" style="border-color: <%= collection.site.primary_color %>">
        <div class="listing-actions">
          <%= link_to collection.site, class: "listing-action", target: "_blank" do %>
            <i class="fa fa-external-link"></i>
          <% end %>
          <%= link_to edit_site_collection_path(collection.site, collection), class: "listing-action" do %>
            <i class="fa fa-pencil"></i>
          <% end %>
          <%= link_to [collection.site, collection], method: :delete, data: { confirm: 'Are you sure?' }, class: "listing-action" do %>
            <i class="fa fa-trash"></i>
          <% end %>
        </div>
        <%= link_to collection.title, collection.site, class: "listing-title", target: "_blank" %>
        <div class="listing-subtitle"><%= collection.shopify_id %></div>
      </div>
    <% end %>
  </div>
  <%= link_to new_site_collection_path, class: "action action-add" do %>
    <i class="fa fa-plus"></i>
  <% end %>
</div>
