<div class="auth-sidebar col flex-fill">
  <div class="auth-sidebar-inner row">
    <div class="auth-sidebar-form col">
      <div class="auth-sidebar-logo">
        <%= image_tag("logo.png")%>
      </div>
      <h2 class="auth-sidebar-title">Change your password</h2>
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
        <%= devise_error_messages! %>
        <%= f.hidden_field :reset_password_token %>

        <div class="form-group">
          <%= f.password_field :password, autofocus: true, autocomplete: "off", class: "form-control", placeholder: "New Password" %>
        </div>

        <div class="form-group">
          <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "Confirm" %>
        </div>

        <div class="form-action">
          <%= f.submit "Change my password" %>
        </div>
      <% end %>
    </div>
    <div class="auth-sidebar-action col d-flex flex-column justify-content-center">
      <h2>New To ShopLight?</h2>
      <p>Start for free today and begin selling within the hour!</p>
      <%= link_to "Sign up", new_registration_path(resource_name) %>
    </div>
  </div>
</div>
<div class="auth-content col flex-fill" style="background-image: url(<%= image_url "sign_in.jpg" %>);"></div>
