<%= simple_form_for @site do |f| %>
  <% if @site.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@site.errors.count, "error") %> prohibited this site from being saved:</h2>

      <ul>
      <% @site.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :title %>
  <!--<%= f.input :url %>-->
  <%= f.input :shopify_url %>
  <%= f.input :shopify_key %>
  <!--<%= f.input :logo %>-->
  <%= f.input :primary_color, as: :minicolors, input_html: {data: {
          minicolors: {theme: :bootstrap, position: :right}}} %>
  <div class="form-action">
    <%= f.button :submit %>
  </div>

<% end %>
