<%= form_for(@site) do |f| %>
  <% if @site.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@site.errors.count, "error") %> prohibited this site from being saved:</h2>

      <ul>
      <% @site.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :url %><br>
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :shopify_url %><br>
    <%= f.text_field :shopify_url %>
  </div>
  <div class="field">
    <%= f.label :shopify_key %><br>
    <%= f.text_field :shopify_key %>
  </div>
  <div class="field">
    <%= f.label :logo %><br>
    <%= f.text_field :logo %>
  </div>
  <div class="field">
    <%= f.label :primary_color %><br>
    <%= f.text_field :primary_color %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
