<div class="main-content col flex-fill">

</div>
<div class="main-sidebar col flex-fill">
  <div class="main-sidebar-scroller">
    <%= render "shared/branding"%>
    <% @sites.each do |site| %>
      <div class="listing" style="border-color: <%= site.primary_color %>">
        <div class="listing-actions">
          <%= link_to site, class: "listing-action", target: "_blank" do %>
            <i class="fa fa-external-link"></i>
          <% end %>
          <%= link_to edit_site_path(site), class: "listing-action" do %>
            <i class="fa fa-pencil"></i>
          <% end %>
          <%= link_to site, method: :delete, data: { confirm: 'Are you sure?' }, class: "listing-action" do %>
            <i class="fa fa-trash"></i>
          <% end %>
        </div>
        <%= link_to site.title, site_collections_path(site), class: "listing-title" %>
        <div class="listing-subtitle"><%= site.shopify_url %></div>
      </div>
    <% end %>
  </div>
  <%= link_to new_site_path, class: "action action-add" do %>
    <i class="fa fa-plus"></i>
  <% end %>
</div>
