<style>
  .navbar-link {
    color: <%= @site.primary_color %>;
  }
</style>

<div class="navbar">
  <div class="container">
    <div class="col-sm-2">
      <% if @site.logo != "" %>

      <% else %>
        <div class="navbar-logo">
          <%= @site.title %>
        </div>
      <% end %>
    </div>
    <div class="col-sm-10 text-right">
      <% @site.collections.each do |collection| %>
        <a class="navbar-link" href="#collection-<%= collection.id %>"><%= collection.title %></a>
      <% end %>
    </div>
  </div>
</div>
<div class="collection">
  <div class="container">
    <% @site.collections.each do |collection| %>
      <div id="collection-<%= collection.id %>">
        <%= render 'buy_button', site: @site, collection: collection %>
      </div>
    <% end %>
  </div>
</div>
