<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @site.title %>
</p>

<p>
  <strong>Url:</strong>
  <%= @site.url %>
</p>

<p>
  <strong>Shopify url:</strong>
  <%= @site.shopify_url %>
</p>

<p>
  <strong>Shopify key:</strong>
  <%= @site.shopify_key %>
</p>

<p>
  <strong>Logo:</strong>
  <%= @site.logo %>
</p>

<p>
  <strong>Primary color:</strong>
  <%= @site.primary_color %>
</p>

<%= link_to 'Edit', edit_site_path(@site) %> |
<%= link_to 'Back', sites_path %>
